@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&family=Roboto:ital,wght@0,400;0,500;1,500&display=swap");

:root {
  --bg-color: #f9fafb;
  --bg-color-filler: #fff;
  --bg-color-accent: #596d48;
  --bg-color-input-border: #e5e7eb;

  --h1-color: #fff;
  --form-color: #1f2937;

  --ff-en: "Roboto", sans-serif;
  --ff-jp: "M PLUS Rounded 1c", sans-serif;

  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;

  --fs-300: 11px;
  --fs-350: 16px;
  --fs-400: 20px;
  --fs-500: 24px;
  --fs-700: 48px;

  --fst-it: italic;
}

/* micro-reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* just to remove a bit of struggling */

body {
  background-color: var(--bg-color);
  color: rgb(22, 22, 22);
}

/* idk who thought that this default style is a good idea */

fieldset {
  border: none;
}

/* utility classes which appeared to be too much for such small project but though were good expirience */

.h1-color {
  color: var(--h1-color);
}

.form-color {
  color: var(--form-color);
}

.a-color {
  color: var(--bg-color-accent);
}

.ff-en {
  font-family: var(--ff-en);
}

.ff-jp {
  font-family: var(--ff-jp);
}

.fw-400 {
  font-weight: var(--fw-400);
}

.fw-500 {
  font-weight: var(--fw-500);
}

.fw-700 {
  font-weight: var(--fw-700);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-350 {
  font-size: var(--fs-350);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fst-it {
  font-style: var(--fst-it);
}

/* basic styles */

.main {
  display: flex;
}

.logo-side {
  display: flex;
  justify-content: center;
  align-items: start;

  width: 520px;
  height: 100vh;

  background-image: url("./bg.avif");
}

.logo-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 31px;

  margin-top: 200px;

  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 8em;
}

.logo-placeholder > img {
  height: 100px;
  width: 100px;
}

.form-side {
  height: 100vh;
  width: calc(100vw - 520px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.container {
  margin-top: -150px;
  max-width: calc(100vw - 800px);
  padding-left: 35px;
}

.preface {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.inputs {
  background-color: var(--bg-color-filler);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.267);
}

.inputs > p {
  padding: 15px 35px;
}

.sign-up-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  column-gap: 55px;
  height: 25vh;
  max-width: calc(100vw - 700px);
  padding-left: 35px;
  margin-bottom: 0;
}

.sign-up-field > div {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* i'm not giving every single one of these new class */

.sign-up-field > div > input {
  height: 32px;
  width: 225px;
  padding: 2px 8px;
  font-size: 16px;

  border: 1px solid var(--bg-color-input-border);
  border-radius: 5px;
}

.sign-up-field > div > input:focus {
  outline: none;
  border: 1px solid rgb(57, 107, 184);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.invalid-input {
  border: 1px solid rgb(224, 59, 59) !important;
}

.sign-up-field > div > label {
  margin: 2px 0;
  letter-spacing: 3px;
}

.ready-checkbox {
  height: 30px !important;
  width: 30px !important;
}

.error-message {
  position: absolute;
  bottom: -1.2em;
  color: rgb(224, 59, 59);
}

.trans {
  color: transparent;
}

.button-field {
  margin: 38px 0 30px 35px;
}

.button {
  border: none;
  border-radius: 7px;
  background-color: var(--bg-color-accent);
  color: var(--bg-color);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);

  height: 2.25em;
  width: 200px;
  transition: opacity 0.2s;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.65;
}

.already {
  margin-left: 35px;
}

.already > a {
  transition: opacity 0.2s;
}

.already > a:hover {
  opacity: 0.8;
}

.already > a:active {
  opacity: 0.6;
}

/* Attempt to make the page a bit responsive */

@media (max-width: 1239px) {
  .container {
    margin-top: 0;
  }

  .sign-up-field {
    height: 50vh;
  }
}
